# --- Core Framework ---
--extra-index-url https://download.pytorch.org/whl/cpu
streamlit

# --- LangChain Ecosystem ---
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters

# --- Document Processing ---
pyMUpdf
TextLoader
CSVLoader
Docx2txtLoader


# --- Vector Database & Embeddings ---
supabase
sentence-transformers
torch
torchvision



# --- Vector Database & Embeddings ---
faiss-cpu
sentence-transformers
huggingface-hub


